<div class="d-flex flex-md-row flex-column justify-content-md-between align-items-md-start align-items-stretch p-3" (click)="handleClick($event)">
  <div class="details">
    <h4 class="card-title text-truncate mb-1 font-weight-light">{{ contact.name }}</h4>
    <div class="card-text text-truncate text-secondary font-weight-light mb-1">
      {{ contact.phoneNumber }}
    </div>
    <div class="card-text text-truncate text-secondary font-weight-light">
        {{ contact.email }}
    </div>
  </div>

  <div class="btn-group mt-md-0 mt-3" role="group" aria-label="Card actions">
    <button type="button" class="btn btn-light text-danger" (click)="handleDelete($event)">
      <fa-icon [icon]="['far', 'trash-alt']" class="mr-2"></fa-icon>
      Delete
    </button>
    <button type="button" class="btn btn-warning" (click)="handleEdit($event)">
      <fa-icon [icon]="['far', 'edit']" class="mr-2"></fa-icon>
      Edit
    </button>
  </div>
</div>
